<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Management System</title>
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<header th:insert="menu.html"/>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4" th:text="#{employee.all.header}"/>
        </div>
    </div>
    <div class="row">
        <div class="row col-md-10 table-responsive">
            <table id="employeeTable" class="table" th:if="${employees != null && !employees.isEmpty()}">
                <thead>
                <tr>
                    <th th:text="#{employee.all.name}"/>
                    <th th:text="#{employee.all.surname}"/>
                    <th th:text="#{employee.all.email}"/>
                    <th th:text="#{employee.all.telephone}"/>
                    <th th:text="#{employee.all.rate}"/>
                    <th th:text="#{employee.all.changeProfit}"/>
                    <th th:text="#{employee.all.info}"/>
                    <th th:text="#{employee.all.edit}"/>
                    <th th:text="#{employee.all.delete}"/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, rowStat: ${employees}"
                    th:style="${employee.onHolidays==false} ? 'color: gray' : 'color: orange;'">
                    <td th:text="${employee.name}"/>
                    <td th:text="${employee.surname}"/>
                    <td th:text="${employee.email}"/>
                    <td th:text="${employee.telephone}"/>
                    <td th:text="${employee.hoursWorked}!=0 ? ${#numbers.formatDecimal(employee.moneyEarned/employee.hoursWorked,1,2)}: '0' "/>
                    <td>
                        <a th:href="@{'/employees/profit/' + ${employee.employeeUuid}}" class="btn btn-outline-secondary btn-sm">
                            <span th:text="#{employee.all.changeProfit}"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/employees/info/' + ${employee.employeeUuid}}" class="btn btn-info btn-sm">
                            <span th:text="#{employee.all.info}"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/employees/edit/' + ${employee.employeeUuid}}" class="btn btn-success btn-sm">
                            <span th:text="#{employee.all.edit}"/>
                        </a>
                    </td>
                    <td>
                        <form th:action="@{'/employees/delete/' + ${employee.employeeUuid}}" method="post">
                            <button type="submit" th:text="#{form.delete}" class="btn btn-danger btn-sm"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <span th:if="${employees == null || employees.isEmpty()}" th:text="#{employee.all.empty}"/>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>
